@font-face {
  font-family: 'unlearne';
  src: url('./fonts/unlearne.ttf');
}

#canvas {
  left: 50%;
  width: 600px;
  height: 600px;
  position: fixed;
  margin-left: -300px;
  margin-top: 10px;
  background: #2C4552;
  border: 5px solid black;
}

body {
  background-color: #2C4552;
}
